# VITE_RPC_URL=

# VITE_JUPITER_API_KEY=
# VITE_JUPITER_SAME_ORIGIN=

# VITE_PRIVACY_PROGRAM_ID=9fhQBbumKEFuXtMBDw8AaQyAjCorLGJQiS3skWZdQyQD
# VITE_PRIVACY_ALT_ADDRESS=HEN49U2ySJ85Vc78qprSW9y6mFDhs1NczRxyppNHjofe
# VITE_PRIVACY_RELAYER_API_URL=https://api3.privacycash.org
# VITE_PRIVACY_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
# VITE_PRIVACY_USDT_MINT=Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB
# VITE_PRIVACY_ZEC_MINT=A7bdiYdS5GjqGFtxf17ppRHtDKPkkRqbKtR27dxvQXaS
# VITE_PRIVACY_ORE_MINT=oreoU2P8bN6jkk3jbaiVxYnG1dCXcYxwhwyK9jSybcp
# VITE_PRIVACY_STORE_MINT=sTorERYB6xAZ1SSbwpK3zoK2EEwbBrc7TZAzg1uCGiH
# VITE_PRIVACY_JLUSDC_MINT=9BEcn9aPEmhSPbPQeFGjidRiEKki46fVQDyPpSQXPA2D
# VITE_PRIVACY_JLW_SOL_MINT=2uQsyo1fXXQkDtcpXnLofWy88PxcvnfH2L8FPSE62FVU

# VITE_PRIVACY_ACTION_TIMEOUT_MS=600000
# VITE_PRIVACY_CIRCUIT_BASE=
